<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleRegister.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
            rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>로그인 - junstargram</title>
</head>

<body>
<div class="center" id="container">
    <div class="center" id="main">
        <div id="top" style="width: 340px">
            <div id="title">
                <h1>junstargram</h1>
            </div>
            <form role="form" action="/members/login" th:object="${loginForm}" method="post">
                <input class="input-field" th:field="*{memId}" type="text" placeholder="사용자이름(ID)">
                <input class="input-field" th:field="*{memPw}" type="text" placeholder="비밀번호">
                <button class="btn-signup" type="submit" value="로그인">로그인</button>
            </form>

            <div id="or">또는</div>

            <div id="fb-login">
                <i class="fa fa-facebook fb-icon" aria-hidden="true"></i>
                Facebook으로 로그인
            </div>


        </div>
        <div class="center" id="bottom">
            <div id="existing-user">
                계정이 없으신가요? <a class="blue-text" href="signup-form.do">회원가입</a>
            </div>
            <div>앱을 다운로드하세요.</div>
            <div class="dl-links">
                <a class="app-dl-links" href="#"><img
                        src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                        alt=""></a> <a class="app-dl-links" href="#"><img
                    src="https://lh3.googleusercontent.com/cjsqrWQKJQp9RFO7-hJ9AfpKzbUb_Y84vXfjlP0iRHBvladwAfXih984olktDhPnFqyZ0nu9A5jvFwOEQPXzv7hr3ce3QVsLN8kQ2Ao=s0"
                    alt=""></a>
            </div>

        </div>
    </div>
    <div id="links">
        <ul>
            <li>소개</li>
            <li>블로그</li>
            <li>채용 정보</li>
            <li>도움말</li>
            <li>API</li>
            <li>개인정보처리방침</li>
            <li>Terms</li>
            <li>인기 계정</li>
            <li>해시태그</li>
            <li>위치</li>
        </ul>
        <div id="copyright">
            <select name="" id="lang">
                <option value="ko">한국어</option>
            </select> &copy; 2021 Spting Team2 Lxtagram
        </div>
    </div>
</div>


<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
        src="/js/login-form.js"></script>

</body>

</html>